// https://www.taniarascia.com/how-to-build-a-responsive-image-gallery-with-flexbox/
.simple_flicker_widget { overflow: hidden; }

.simple_flicker_widget-row {
	margin-left: -5px;
	margin-right: -5px;

	&:before,
	&:after {
		display: table;
		content: "";
	}

	&:after {
		clear: both;
	}
}

.simple_flicker_widget-col {
	padding: 0 5px 10px;
	float: left;
	width: 100%;
}

.simple_flicker_widget-col.col2 { width: 50%; }
.simple_flicker_widget-col.col3 { width: 33.333333%; }
.simple_flicker_widget-col.col4 { width: 25%; }
.simple_flicker_widget-col.col5 { width: 20%; }
.simple_flicker_widget-col.col6 { width: 16.666667%; }
.simple_flicker_widget-col a { display: block; }
.simple_flicker_widget-col img { height: auto; max-width: 100%; width: 100%; }

.flickr_photos_gallery {
	
	margin: 0 -1rem;

	figure {
		margin: 1rem !important;
	}

	img {
		display: block;
		height: auto;
		max-width: 100%;
	}

	@media screen and (min-width: 600px) {

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		figure {
			width: calc( 50% - 2rem );
		}
	}

	@media screen and (min-width: 1000px) {
		figure {
			width: calc( 33.3333% - 2rem );
		}
	}

	@media screen and (min-width: 1192px) {
		figure {
			width: calc( 25% - 2rem );
		}
	}

	@media screen and (min-width: 1384px) {
		figure {
			width: calc( 16.6666% - 2rem );
		}
	}
}